<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio-mandeep</title>
    <link rel="icon" type="image/png" href='{% static "/media/pf.png" %}'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href='{% static "/css/main.css" %}'>

</head>
<body>
    <!--  -->
  <div class="container">
            <div class="row m-2">
              <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static '/media/profile.png' %}">
                    <hr>
                    <h4>Hi I'm Mandeep</h4>
                    <marquee ><p>i love coding doing reaserch and collaborating</p></marquee>
                </div>
                <br>
              </div>
              <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4>My first job as a devloper</h4>
                    <hr>
                    <p>I'm a Python and Django developer with a hunger or building powerful web experiences. Currently, I am pursuing my passion in building an ecommerce application using Django Let's create something amazing together!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet iure obcaecati, aut velit nam est vel, suscipit tempore quos, officia ea rerum similique quidem labore sunt? Inventore, provident commodi? Optio impedit in, nobis accusamus itaque accusantium.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, amet! Voluptate ratione magnam molestiae. Soluta quia, et, in perferendis ad nobis nesciunt fuga, rerum eveniet maiores quod. Qui atque repudiandae quia animi nostrum. Ratione aliquid consequuntur ad doloribus exercitationem a animi autem laboriosam iste quos aut recusandae magnam debitis laborum dignissimos inventore voluptatem ducimus, sint voluptates eius adipisci. Totam qui nihil excepturi placeat pariatur odio commodi unde ut voluptatibus officia minima omnis quos sequi, vitae voluptas quo? At impedit quae ullam quasi deserunt rerum provident quia ab? Quam, assumenda libero neque alias perspiciatis ad reprehenderit dolores.

                    </p>
                    <ul class="social-link">
                        <li><a href="https://www.linkedin.com/in/mandeep-mishra-843378223/" target="_blank"><img class="social" src="{% static '/media/linkedin.png' %}"></a></li>
                        <li><a href="https://twitter.com/Mannu_258 " target="_blank"><img class="social" src="{% static '/media/twitter.png' %}"></a></li>
                        <li><a href="https://github.com/Mannu258" target="_blank"><img class="social" src="{% static '/media/github.png' %}"></a></li>

                    </ul>
                </div>
              </div>
              <br>
              <div class="row m-4">
                <div class="col-md-6">
                  <div class="card card-body h-100">
                    <h5>My experience as a devloper</h5>
                    <hr>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid sapiente laborum mollitia minus, illo exercitationem?</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt dolore eveniet nostrum quis reiciendis exercitationem voluptatibus pariatur rem autem libero, aspernatur velit enim illo eaque!</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-body h-100">
                    <h5>My experience as a devloper</h5>
                    <hr>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid sapiente laborum mollitia minus, illo exercitationem?</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt dolore eveniet nostrum quis reiciendis exercitationem voluptatibus pariatur rem autem libero, aspernatur velit enim illo eaque!</p>
                  </div>
                  </div>
                </div>


                <div class="row m-4">
                    <div class="col-md-6">
                      <div class="card card-body h-100">
                        <h5>My experience as a devloper</h5>
                        <hr>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid sapiente laborum mollitia minus, illo exercitationem?</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt dolore eveniet nostrum quis reiciendis exercitationem voluptatibus pariatur rem autem libero, aspernatur velit enim illo eaque!</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card card-body h-100">
                        <h5>My experience as a devloper</h5>
                        <hr>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid sapiente laborum mollitia minus, illo exercitationem?</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt dolore eveniet nostrum quis reiciendis exercitationem voluptatibus pariatur rem autem libero, aspernatur velit enim illo eaque!</p>
                      </div>
                      </div>
                      <br>
                    </div>
          </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>